# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
      # specify the version
      - image: circleci/golang:1.16

    steps:
      - run: git clone https://github.com/lu4p/ToRat.git .
      - run: go mod download -x
      - run: touch torat_client/cert.pem # create dummy cert
      - run: go build github.com/lu4p/ToRat/cmd/server
      - run: go build github.com/lu4p/ToRat/cmd/client
